.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
.DS_Store
WTS_Ideas-ModelConfigurationFile.docx
/.quarto/
/_site/
/site_libs/
~*.docx
**/.DS_Store
**/*.RData
**/*.pdf
**/*.pdf.md
**/*.tex
**/*.html
**/*.html.md
**/*.png
**/*.gif
**/csv_ListForFiguresInfo.csv
**/csv_ListForTablesInfo.csv

